/* general */

body {
  background: url("../images/thread.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.container {
  width: 100%;
  max-width: 960px;
  height: 90px;
  margin: 30px;
  background-color: #ffffff;
}

/* header */

/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */

/* footer */

/* main */

.uk-leader-fill-content::before {
  content: '-';
}

:root {
  --uk-leader-fill-content: '-';
}

#sewing-line {
  margin: 20px;
}

#my-image {
  opacity: 1;
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  border-radius: 50%;
}

/* portfolio page */

/* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
/* } */


/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

@media (max-width: 500px) {
  .my-image {
    width: 100%;
  }
}

@media (max-width: 640px) {
  #masthead {
    position: static;
    margin: 0 0 8px;
  }

  #main-container {
    padding-top: 0%;
  }

  #spool {
    width: 100%;
  }

  nav {
    width: 100%;
    text-align: center;
    margin-top: 0%;
  }

  h1 {
    margin-block-start: 0%;
    margin-block-end: 0%;
  }

  #work {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #masthead {
    position: static;
  }

  nav {
    margin-right: 20px;
  }

  #main-container {
    padding-top: 0%;
  }
}

@media (max-width: 980px) {
  nav {
    margin-right: 20px;
  }

  #masthead {
    position: static;
  }

  #main-container {
    padding-top: 0%;
  }

  .container {
    margin: 0;
  }
}

@media (min-width: 980px) {
  nav {
    margin-right: 25px;
  }

  #masthead {
    position: static;
    width: 960px;
  }

  #main-container {
    padding-top: 0%;
  }

  .container {
    margin: 0;
  }
}
